---
import CallToAction from './call-to-action.astro';
import ProfileCard from './profile-card.astro';
---

<div class="gradient grid gap-8 px-8 pb-8">
  <div
    class="gradient-text text-center font-extrabold uppercase tracking-tighter text-3xl"
    data-aos="fade-up"
  >
    ¿Quién Soy y por qué puedo apoyarte?
  </div>
  <div class="flex justify-center gap-8 text-sm max-[752px]:flex-wrap">
    <ProfileCard />
    <div class="max-w-[600px] leading-tight">
      <p class="gradient-text mb-6 text-justify" data-aos="fade-up">
        Soy Martha Isabel Acero y te cuento que tener tiendas en línea cambió mi vida.
      </p>
      <p class="gradient-text mb-6 text-justify" data-aos="fade-up">
        Ingresé al mundo de los negocios en el 2011 buscando alternativas diferentes al empleo que
        tenía como profesora de español en una escuela en los Estados Unidos.
      </p>
      <p class="gradient-text mb-6 text-justify" data-aos="fade-up">
        Sin dudarlo, entre tantas opciones que conocí y probé, tener mis propias tiendas en internet
        fue la opción más rápida y más sencilla, algo que sucedió cuando mi negocio se volvió
        digital post pandemia.
      </p>
      <p class="gradient-text mb-6 text-justify" data-aos="fade-up">
        Gracias a todas las tiendas que he abierto en internet he podido conocer más de 5 países y
        generar hasta 5 veces lo que ganaba como empleada en Estados Unidos …en fin, tener tiendas
        online ha sido mi mejor decisión y quiero que esto también te pase a ti.
      </p>
      <p class="gradient-text mb-6 text-justify" data-aos="fade-up">
        Desde que inicié este negocio he ayudado a más de 500 personas a levantar sus propias
        tiendas en internet y ganar un promedio de más de 4 mil dólares mensuales y precisamente por
        eso sé que puedo ayudarte también a ti.
      </p>
      <p class="gradient-text mb-6 text-justify" data-aos="fade-up">
        He desarrollado un entrenamiento único donde muestro cómo cualquier persona puede tener su
        propia tienda online que genere cientos de dólares cada mes.
      </p>
    </div>
  </div>
</div>
<div class="gradient flex flex-col flex-wrap items-center gap-8 pb-14 sm:col-span-2">
  <CallToAction />
</div>
<script>
  import AOS from 'aos';
  import 'aos/dist/aos.css';
  AOS.init({
    duration: 750
  });
</script>
<style>
  .gradient {
    background: linear-gradient(to right, #0093e9, #80d0c7, #e0c3fc, #fad0c4, #ffaa85);
    font-weight: 600;
  }
</style>
