---
import ProfileCard from "./profile-card.astro";
---

<div class="gradient grid px-8 gap-8 pb-8">
  <div class="text-center gradient-text-2 font-extrabold tracking-tighter text-3xl uppercase">
    ¿Quién Soy y por qué puedo apoyarte?
  </div>
  <div class="flex max-[752px]:flex-wrap justify-center gap-8 text-xs">
    <ProfileCard />
    <div class="max-w-[600px] leading-tight">
      <h1 class="font-bold mb-4 gradient-text-2">¿Cómo crear tu propia tienda en internet y generar ingresos mensuales?</h1>
      <p class="text-black mb-6">En este entrenamiento gratuito aprenderás cómo puedes tener una tienda virtual exitosa y vivir de ello. No necesitas experiencia previa y el curso es totalmente gratuito.</p>

      <h2 class="font-bold mb-4 gradient-text-2">Masterclass de 4 clases</h2>
      <p class="text-black mb-6">Aprende el paso a paso para crear un negocio rentable y ser una mamá presente con "Mamá que Factura".</p>

      <h2 class="font-bold mb-4 gradient-text-2">¿Quién soy y por qué puedo ayudarte?</h2>
      <p class="text-black mb-6">Soy Briyito Barrero, una emprendedora apasionada y mamá. Desde ingeniera civil y gerente de proyectos, he creado "Mamá que Factura", un método para madres amas de casa que desean generar ingresos desde casa.</p>
      
      <p class="text-black mb-6">Después de un largo viaje, encontré las claves para una vida abundante. Ahora, comparto estrategias y herramientas para que también logres resultados en el mundo virtual.</p>

      <h2 class="font-bold mb-4 gradient-text-2">¿Estás listo para dar el primer paso?</h2>
      <p class="text-black">Únete a mí en este emocionante viaje y descubre cómo puedes comenzar a crear la vida que siempre has deseado.</p>
  </div>

  </div>

  <style>
    .gradient {
      background-color: #b76e79;
    }
  </style>
</div>
