<div class="button-call gradient-text hover:scale-110 transition duration-300 font-bold ease-in-out uppercase">
    Inscribete Ahora
    <div class="button-call-2"></div>
</div>
<style>
    .button-call,
    .button-call-2 {
        width: 350px;
        height: 100px;
        font-size: 30px;
        text-align: center;
        line-height: 100px;
        color: rgb(0, 0, 0);
        border-radius: 50px;
        background: linear-gradient(-45deg, #00af2c, #e00000, #8cfd30, #ff2d2d);
        background-size: 600%;
        -webkit-animation: anime 16s linear infinite;
        animation: anime 16s linear infinite;
    }
    .button-call-2 {
        position: absolute;
        margin-top: -70px;
        z-index: -1;
        filter: blur(30px);
        opacity: 0.8;
    }
    @-webkit-keyframes anime {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
    @keyframes anime {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }
</style>
