<div data-aos="fade-up">
  <!-- <a href="https://chat.whatsapp.com/JQ2ns318gYj8ZFsOoUuHQh" target="_blank" id="whatsappLink"> -->
  <a href="https://chat.whatsapp.com/JQ2ns318gYj8ZFsOoUuHQh" target="_blank" id="whatsappLink">
    <div class="animate__animated animate__pulse animate__infinite inscribete-btn font-bebas-neue">
      ¡ Inscribete Ya !
      <!-- <div class="button-call-2 opacity-0"></div> -->
    </div>
  </a>
</div>

<script>
  import AOS from 'aos';
  import 'aos/dist/aos.css';
  AOS.init({
    duration: 750
  });
</script>
<style>
  .inscribete-btn {
    font-weight: bold;
    font-size: 4rem; /* Tamaño más grande para mayor visibilidad */
    color: #ffffff; /* Texto blanco */
    background: radial-gradient(circle, #960000, #960000);
    padding: 15px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition:
      background 0.3s ease,
      transform 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    @media (max-width: 560px) {
      font-size: 2.5rem;
    }
  }

  .inscribete-btn:hover {
    background: radial-gradient(circle, #dd0000, #960000);
    transform: translateY(-2px);
  }

  .inscribete-btn:active {
    background-color: #003366; /* Un tono aún más oscuro de azul */
    transform: translateY(1px);
  }
</style>
