---
import { Image } from 'astro:assets';
import rocket from '~/assets/rocket.svg';
import learn from '~/assets/learn.svg';
import trophy from '~/assets/trophy.svg';
import store from '~/assets/store.svg';
---

<div class="gradient grid space-y-12 px-8 py-10 min-[449px]:px-4">
  <div
    class="gradient-text text-center font-extrabold tracking-tighter text-3xl"
    data-aos="fade-up"
  >
    4 CLASES CON EL PASO A PASO<span class="hidden min-[480px]:inline min-[900px]:hidden"
      ><br /></span
    > QUE ME PERMITIÓ <span class="max-[900px]:hidden"><br /></span> CREAR UN<span
      class="hidden min-[480px]:inline min-[900px]:hidden"><br /></span
    > NEGOCIO RENTABLE EN LÍNEA
  </div>
  <div
    class="inline-flex max-w-[1100px] flex-wrap justify-center gap-4 justify-self-center min-[900px]:gap-8"
  >
    <div class="card clase1" data-aos="fade-up">
      <div class="profile">
        <!-- <div
          class="img-container gradient-text text-center font-extrabold tracking-tighter text-6xl"
        >
          <Image src={learn} alt="learn" />
        </div> -->
        <div class="ml-4 self-center text-center font-extrabold text-white text-2xl">
          <h1>CLASE #1</h1>
        </div>
      </div>
      <div class="description text-justify uppercase">
        <span>
          Aprenderás el mismo método que están usando cientos de personas para crear un negocio
          solido en internet con tiendas en línea
        </span>
      </div>
    </div>

    <div class="card clase2" data-aos="fade-up">
      <div class="profile">
        <!-- <div class="img-container">
          <Image src={store} alt="store" />
        </div> -->
        <div class="ml-4 self-center text-center font-extrabold text-2xl">
          <h1>CLASE #2</h1>
        </div>
      </div>
      <div class="description text-justify uppercase">
        <span>
          Los 3 modelos de negocio que te permitirá crear TÚ PROPIA TIENDA en internet que renta
          todos los meses
        </span>
      </div>
    </div>

    <div class="card clase3" data-aos="fade-up">
      <div class="profile">
        <!-- <div class="img-container">
          <Image src={rocket} alt="rocket" />
        </div> -->
        <div class="ml-4 self-center text-center font-extrabold text-2xl">
          <h1>CLASE #3</h1>
        </div>
      </div>
      <div class="description text-justify uppercase">
        <span> La forma más fácil de crear TÚ PROPIA TIENDA en internet en menos de 15 días</span>
      </div>
    </div>

    <div class="card clase4" data-aos="fade-up">
      <div class="profile">
        <!-- <div class="img-container">
          <Image src={trophy} alt="trophy" />
        </div> -->
        <div class="ml-4 self-center text-center font-extrabold text-2xl">
          <h1>CLASE #4</h1>
        </div>
      </div>
      <div class="description text-justify uppercase">
        <span>
          Como convertirte en una emprendedor exitoso creando TIENDAS EN LÍNEA que te permitan
          recibir una renta mensual que crece todos los meses
        </span>
      </div>
    </div>
  </div>
</div>

<script>
  import AOS from 'aos';
  import 'aos/dist/aos.css';
  AOS.init({
    duration: 750
  });
</script>
<style>
  .card {
    /* height: 80%; */
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    background-color: #dd7f8d;
    /* background: linear-gradient(
      -135deg,
      rgb(0, 0, 0),
      rgb(0, 0, 0)
    ); */
    -webkit-box-shadow: 0px 0px 2px -2px #c7c3c7;
    -moz-box-shadow: 0px 0px 2px -2px #c7c3c7;
    box-shadow: 0px 0px 2px -2px #c7c3c7;
    transition: all 100ms ease;
    @apply h-[300px] w-[300px] min-[560px]:h-[400px] min-[560px]:w-[352px];
  }

  .clase1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
      url(../assets/clase1.jpg);
    background-size: cover;
    background-position: center;
  }
  .clase2 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
      url(../assets/clase2.jpg);
    background-size: cover;
    background-position: center;
  }
  .clase3 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
      url(../assets/clase3.jpg);
    background-size: cover;
    background-position: center;
  }
  .clase4 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7)),
      url(../assets/clase4.jpg);
    background-size: cover;
    background-position: center;
  }

  .card:hover {
    transform: translate(-4px, -4px);
    -webkit-box-shadow: 15px 15px 35px -2px #c7c3c7;
    -moz-box-shadow: 15px 15px 35px -2px #c7c3c7;
    box-shadow: 15px 15px 35px -2px #c7c3c7;
  }

  .img-container {
    height: 5rem;
    width: 5rem;
  }

  img {
    width: 100%;
  }

  .profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background: linear-gradient(to bottom, #075985, #0369a1, #0284c7);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  .name {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .name > h1 {
    margin: 0;
    font-weight: 600;
    /* font-family: Lato, sans-serif; */
    color: white;
    letter-spacing: 1px;
    font-size: 1.3rem;
  }
  .name > h2 {
    margin: 0;
    margin-top: 0.7rem;
    /* font-family: Lato, sans-serif; */
    color: rgba(30, 30, 30, 0.8);
    font-size: 0.9rem;
  }

  .description {
    flex: 1 0 0;
    margin-top: 0.5rem;
    display: flex;
    align-items: end;
    text-align: center;
    padding: 1rem;
  }
  .description > span {
    /* font-family: Lato, sans-serif; */
    color: white;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.4px;
  }
  .gradient {
    background: linear-gradient(to right, #0093e9, #80d0c7, #e0c3fc, #fad0c4, #ffaa85);
  }
</style>
