<div class="gradient grid space-y-12 px-8 py-10 min-[449px]:px-4">
  <div class="gradient-text-2 text-center font-extrabold tracking-tighter text-3xl">
    4 CLASES CON EL PASO A PASO<span
      class="hidden min-[480px]:inline min-[900px]:hidden"><br /></span
    > QUE ME PERMITIÓ <span class="max-[900px]:hidden"><br /></span> CREAR UN<span
      class="hidden min-[480px]:inline min-[900px]:hidden"><br /></span
    > NEGOCIO RENTABLE EN LÍNEA
  </div>
  <div class="inline-flex flex-wrap max-w-[1100px] gap-4 min-[900px]:gap-8 justify-center justify-self-center">
    <div class="card h-60 w-[352px]">
      <div class="profile">
        <div class="img-container gradient-text text-center font-extrabold tracking-tighter text-6xl">
          <img
            src="/learn.svg"
          />
        </div>
        <div class="gradient-text-2 text-center font-extrabold text-2xl ml-4 self-center">
          <h1>CLASE #1</h1>
        </div>
      </div>
      <div class="description uppercase ">
        <span>
          Aprenderás el mismo método que están usando cientos de personas para crear un negocio solido en internet con tiendas en línea
        </span>
      </div>
    </div>

    <div class="card h-60  w-[352px]">
      <div class="profile">
        <div class="img-container">
          <img
            src="/store.svg"
          />
        </div>
        <div class="gradient-text-2 text-center font-extrabold text-2xl ml-4 self-center">
          <h1>CLASE #2</h1>
        </div>
      </div>
      <div class="description uppercase ">
        <span>
          Los 3 modelos de negocio que te permitirá crear tu propia tienda en internet que renta pague una renta todos los meses
        </span>
      </div>
    </div>

    <div class="card h-60  w-[352px]">
      <div class="profile">
        <div class="img-container">
          <img
            src="/rocket.svg"
          />
        </div>
        <div class="gradient-text-2 text-center font-extrabold text-2xl ml-4 self-center">
          <h1>CLASE #3</h1>
        </div>
      </div>
      <div class="gradient-text-2 description uppercase ">
        <span>
          La forma más fácil de crear tu propia tienda en internet en menos de 15 días
        </span>
      </div>
    </div>

    <div class="card h-60  w-[352px]">
      <div class="profile">
        <div class="img-container">
          <img
            src="/trophy.svg"
          />
        </div>
        <div class="gradient-text-2 text-center font-extrabold text-2xl ml-4 self-center">
          <h1>CLASE #4</h1>
        </div>
      </div>
      <div class="description uppercase ">
        <span>
          Como convertirte en un emprendedor exitoso creando tiendas en línea que te permitan recibir una renta mensual que crece todos los meses
        </span>
      </div>
    </div>
  </div>
</div>

<style>
  .card {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #dd7f8d;
    /* background: linear-gradient(
      -135deg,
      rgb(0, 0, 0),
      rgb(0, 0, 0)
    ); */
    -webkit-box-shadow: 0px 0px 2px -2px #c7c3c7;
    -moz-box-shadow: 0px 0px 2px -2px #c7c3c7;
    box-shadow: 0px 0px 2px -2px #c7c3c7;
    transition: all 100ms ease;
  }

  .card:hover {
    transform: translate(-4px, -4px);
    -webkit-box-shadow: 15px 15px 35px -2px #c7c3c7;
    -moz-box-shadow: 15px 15px 35px -2px #c7c3c7;
    box-shadow: 15px 15px 35px -2px #c7c3c7;
  }

  .img-container {
    height: 5rem;
    width: 5rem;
  }

  img {
    width: 100%;
  }

  .profile {
    display: flex;
    flex-direction: row;
  }

  .name {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .name > h1 {
    margin: 0;
    font-weight: 600;
    /* font-family: Lato, sans-serif; */
    color: white;
    letter-spacing: 1px;
    font-size: 1.3rem;
  }
  .name > h2 {
    margin: 0;
    margin-top: 0.7rem;
    /* font-family: Lato, sans-serif; */
    color: rgba(30, 30, 30, 0.8);
    font-size: 0.9rem;
  }

  .description {
    flex: 1 0 0;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
  }
  .description > span {
    /* font-family: Lato, sans-serif; */
    color: white;
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.4px;
  }
  .gradient {
    background-color: #b76e79;
  }
</style>
