---
import Starfield from './starfield.astro';
---

<div class="gradient grid justify-center gap-8 px-8 pb-8 pt-8">
  <div
    class="gradient-text max-w-screen-lg text-center font-extrabold uppercase tracking-tighter text-xl"
    data-aos="fade-up"
  >
    En este entrenamiento gratuito aprenderás cómo puedes tener una tienda virtual exitosa y vivir
    de ello. No necesitas experiencia previa.<br />
  </div>
  <script>
    import AOS from 'aos';
    import 'aos/dist/aos.css';
    AOS.init({
      duration: 750
    });
  </script>
  <style>
    .gradient {
      background: linear-gradient(to right, #0093e9, #80d0c7, #e0c3fc, #fad0c4, #ffaa85);
    }
  </style>
</div>
