---
import { Image } from 'astro:assets';
import foto from '~/assets/foto-martha.png';
---

<div
  class="profile-card -mt-[80px] mb-[80px] grid max-h-[400px] w-2/3 max-w-64 rounded-xl sm:w-10/12"
  data-aos="fade-up"
>
  <Image class="profile-image rounded-full" src={foto} alt="Profile picture" />
  <div class="profile-info flex flex-col items-start p-4">
    <h1 class="gradient-text -mt-20 mb-2 font-bold text-xl">Martha Isabel Acero</h1>
    <p class="gradient-text text-sm">Emprendedora</p>
  </div>
</div>
<script>
  import AOS from 'aos';
  import 'aos/dist/aos.css';
  AOS.init({
    duration: 750
  });
</script>
